.discovery__description {
    margin: 10px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}

@media screen and (min-width: 320px) {
    .discovery__description {
        max-width: 240px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .discovery__description {
        max-width: 291px;
    }
  }